asistente.json
{
  "name": "Telegram - Leads y Resumen (SQLite)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -520,
        0
      ],
      "id": "telegram-trigger-leads-resumen",
      "name": "Telegram Trigger",
      "webhookId": "telegram-leads-resumen-webhook",
      "credentials": {
        "telegramApi": {
          "id": "Au8Ajse28MQyU8GU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-leads",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/leads",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        -120
      ],
      "id": "if-leads-command",
      "name": "IF /leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-resumen",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/resumen",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -40,
        80
      ],
      "id": "if-resumen-command",
      "name": "IF /resumen"
    },
    {
      "parameters": {
        "command": "=sqlite3 -json /home/node/.n8n/private_data.sqlite \"CREATE TABLE IF NOT EXISTS leads_sql1 (id INTEGER PRIMARY KEY AUTOINCREMENT, nombre TEXT, apellido TEXT, email TEXT, telefono TEXT, empresa TEXT, fuente TEXT, mensaje TEXT, interes TEXT, lead_score INTEGER DEFAULT 0, estado TEXT DEFAULT 'nuevo', prioridad TEXT DEFAULT 'media', created_at TEXT); SELECT id, nombre, apellido, email, telefono, empresa, interes, lead_score, estado, prioridad, created_at FROM leads_sql1 ORDER BY created_at DESC LIMIT 5;\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        -260
      ],
      "id": "leads-ultimos-sqlite",
      "name": "Leads - Últimos (SQLite)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hBETV13sYGAkTrLnLmMae5nrHa9E0zNSgKSx8xReaZ0",
          "mode": "list",
          "cachedResultName": "testing n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hBETV13sYGAkTrLnLmMae5nrHa9E0zNSgKSx8xReaZ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        440,
        -260
      ],
      "id": "leads-google-sheets",
      "name": "Google Sheets - Leer Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYdByuwpHiNH0YRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sqliteData = JSON.parse($('Leads - Últimos (SQLite)').item.json.stdout || '[]');\nconst sheetsData = $('Google Sheets - Leer Leads').all().map(i => i.json);\n\nconst combined = [...sqliteData];\n\nif (combined.length === 0 && sheetsData.length === 0) {\n  return [{ text: 'No hay leads registrados todavía.' }];\n}\n\nconst lines = combined.map((l, i) => {\n  const score = l.lead_score !== undefined && l.lead_score !== null ? l.lead_score : '-';\n  return `#${i + 1} - ${l.nombre || l.Nombre || ''} ${l.apellido || l.Apellido || ''} (${l.empresa || l.Empresa || 'Sin empresa'})\\nScore: ${score} | Estado: ${l.estado || l.Estado || '-'} | Prioridad: ${l.prioridad || l.Prioridad || '-'}\\nEmail: ${l.email || l.Email || '-'} | Tel: ${l.telefono || l.Telefono || '-'}\\nFecha: ${l.created_at || '-'}`;\n});\n\nconst message = `📥 Últimos ${combined.length} leads (SQLite)\\n` + (sheetsData.length > 0 ? `Total en Sheets: ${sheetsData.length}\\n` : '') + `\\n` + lines.join('\\n\\n');\n\nreturn [{ text: message }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        -260
      ],
      "id": "leads-formatear-mensaje",
      "name": "Leads - Formatear mensaje"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -260
      ],
      "id": "telegram-enviar-leads",
      "name": "Telegram - Enviar Leads",
      "credentials": {
        "telegramApi": {
          "id": "Au8Ajse28MQyU8GU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "=sqlite3 -json /home/node/.n8n/private_data.sqlite \"CREATE TABLE IF NOT EXISTS facturas_sql3 (id INTEGER PRIMARY KEY AUTOINCREMENT, emisor TEXT, fecha TEXT, descripcion TEXT, categoria TEXT, importe REAL, iva REAL, total REAL, moneda TEXT, created_at TEXT); SELECT COUNT(*) AS num_facturas, IFNULL(SUM(total),0) AS total_gastado FROM facturas_sql3 WHERE datetime(created_at) >= datetime('now','-30 days');\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        40
      ],
      "id": "resumen-facturas",
      "name": "Resumen - Facturas"
    },
    {
      "parameters": {
        "command": "=sqlite3 -json /home/node/.n8n/private_data.sqlite \"SELECT categoria, COUNT(*) AS num, IFNULL(SUM(total),0) AS total FROM facturas_sql3 WHERE datetime(created_at) >= datetime('now','-30 days') GROUP BY categoria ORDER BY total DESC LIMIT 3;\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        40
      ],
      "id": "resumen-facturas-categoria",
      "name": "Resumen - Facturas por categoría"
    },
    {
      "parameters": {
        "command": "=sqlite3 -json /home/node/.n8n/private_data.sqlite \"SELECT COUNT(*) AS total_leads, SUM(CASE WHEN lead_score >= 80 THEN 1 ELSE 0 END) AS calientes, SUM(CASE WHEN lead_score BETWEEN 60 AND 79 THEN 1 ELSE 0 END) AS tibios, SUM(CASE WHEN lead_score < 60 THEN 1 ELSE 0 END) AS frios FROM leads_sql1 WHERE substr(created_at,1,10) >= date('now','-30 days');\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        700,
        40
      ],
      "id": "resumen-leads",
      "name": "Resumen - Leads"
    },
    {
      "parameters": {
        "command": "=sqlite3 -json /home/node/.n8n/private_data.sqlite \"SELECT estado, COUNT(*) AS total FROM leads_sql1 WHERE substr(created_at,1,10) >= date('now','-30 days') GROUP BY estado;\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        940,
        40
      ],
      "id": "resumen-leads-estado",
      "name": "Resumen - Leads por estado"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un analista de negocio y financiero. A partir del siguiente resumen numérico de facturas y leads de los últimos 30 días, escribe un resumen ejecutivo en 3-6 viñetas en español con conclusiones y recomendaciones prácticas. Devuelve solo el texto del resumen, sin saludos ni explicaciones técnicas.\\n\\nResumen numérico:\\n{{ $('Resumen - Formatear mensaje').item.json.text }}",
        "options": {
          "systemMessage": "Eres un analista de negocio especializado en automatización y finanzas. Responde siempre en español claro y directo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1680,
        40
      ],
      "id": "gemini-resumen-ia",
      "name": "Agent AI - Resumen IA"
    },
    {
      "parameters": {
        "jsCode": "const baseText = $('Resumen - Formatear mensaje').item.json.text || '';\nconst aiText = $json.output || '';\n\nconst finalText = baseText + '\\n\\n🧠 Resumen IA\\n' + (aiText || 'No se pudo generar el resumen IA.');\n\nreturn [{ text: finalText }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        40
      ],
      "id": "resumen-anadir-ia",
      "name": "Resumen - Añadir IA"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hBETV13sYGAkTrLnLmMae5nrHa9E0zNSgKSx8xReaZ0",
          "mode": "list",
          "cachedResultName": "testing n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hBETV13sYGAkTrLnLmMae5nrHa9E0zNSgKSx8xReaZ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "facturas",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        -80
      ],
      "id": "resumen-facturas-sheets",
      "name": "Google Sheets - Facturas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYdByuwpHiNH0YRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hBETV13sYGAkTrLnLmMae5nrHa9E0zNSgKSx8xReaZ0",
          "mode": "list",
          "cachedResultName": "testing n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hBETV13sYGAkTrLnLmMae5nrHa9E0zNSgKSx8xReaZ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        160
      ],
      "id": "resumen-leads-sheets",
      "name": "Google Sheets - Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYdByuwpHiNH0YRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseJson(stdout) {\n  try {\n    return JSON.parse(stdout || '[]');\n  } catch (e) {\n    return [];\n  }\n}\n\nconst factTot = parseJson($('Resumen - Facturas').item.json.stdout)[0] || {};\nconst factCats = parseJson($('Resumen - Facturas por categoría').item.json.stdout);\nconst leadsTot = parseJson($('Resumen - Leads').item.json.stdout)[0] || {};\nconst leadsEstado = parseJson($('Resumen - Leads por estado').item.json.stdout);\n\nconst facturasSheets = $('Google Sheets - Facturas').all().map(i => i.json);\nconst leadsSheets = $('Google Sheets - Leads').all().map(i => i.json);\n\nfunction money(n) {\n  const num = typeof n === 'number' ? n : parseFloat((n || '0').toString());\n  if (isNaN(num)) return '0.00 €';\n  return num.toFixed(2) + ' €';\n}\n\nconst catsLines = (factCats || []).map(c => {\n  return `- ${c.categoria || 'Sin categoría'}: ${money(c.total)} (${c.num} facturas)`;\n});\n\nconst estadoLines = (leadsEstado || []).map(e => {\n  return `- ${e.estado || 'sin_estado'}: ${e.total} leads`;\n});\n\nconst periodo = 'últimos 30 días';\n\nconst text =\n`📊 Resumen general (${periodo})\\n\\n` +\n`💰 Facturas (SQLite)\\n` +\n`- Nº facturas: ${factTot.num_facturas || 0}\\n` +\n`- Gasto total: ${money(factTot.total_gastado || 0)}\\n` +\n`- En Google Sheets: ${facturasSheets.length} registros\\n\\n` +\n`Top categorías de gasto\\n` +\n`${catsLines.length ? catsLines.join('\\n') : 'Sin datos'}\\n\\n` +\n`👥 Leads (SQLite)\\n` +\n`- Total leads: ${leadsTot.total_leads || 0}\\n` +\n`- Calientes (>=80): ${leadsTot.calientes || 0}\\n` +\n`- Tibios (60-79): ${leadsTot.tibios || 0}\\n` +\n`- Fríos (<60): ${leadsTot.frios || 0}\\n` +\n`- En Google Sheets: ${leadsSheets.length} registros\\n\\n` +\n`Leads por estado\\n` +\n`${estadoLines.length ? estadoLines.join('\\n') : 'Sin datos'}`;\n\nreturn [{ text }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        40
      ],
      "id": "resumen-formatear-mensaje",
      "name": "Resumen - Formatear mensaje"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        40
      ],
      "id": "telegram-enviar-resumen",
      "name": "Telegram - Enviar Resumen",
      "credentials": {
        "telegramApi": {
          "id": "Au8Ajse28MQyU8GU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Comandos disponibles:\\n/leads - Últimos leads registrados\\n/resumen - Resumen de leads y facturas (últimos 30 días)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        260
      ],
      "id": "telegram-ayuda",
      "name": "Telegram - Ayuda",
      "credentials": {
        "telegramApi": {
          "id": "Au8Ajse28MQyU8GU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        260
      ],
      "id": "google-gemini-chat-model",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ldVfHCaN0ySWxI1E",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF /leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF /leads": {
      "main": [
        [
          {
            "node": "Leads - Últimos (SQLite)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF /resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads - Últimos (SQLite)": {
      "main": [
        [
          {
            "node": "Google Sheets - Leer Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Leer Leads": {
      "main": [
        [
          {
            "node": "Leads - Formatear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads - Formatear mensaje": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF /resumen": {
      "main": [
        [
          {
            "node": "Resumen - Facturas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen - Facturas": {
      "main": [
        [
          {
            "node": "Resumen - Facturas por categoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen - Facturas por categoría": {
      "main": [
        [
          {
            "node": "Resumen - Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen - Leads": {
      "main": [
        [
          {
            "node": "Resumen - Leads por estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen - Leads por estado": {
      "main": [
        [
          {
            "node": "Google Sheets - Facturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Facturas": {
      "main": [
        [
          {
            "node": "Google Sheets - Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Leads": {
      "main": [
        [
          {
            "node": "Resumen - Formatear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen - Formatear mensaje": {
      "main": [
        [
          {
            "node": "Agent AI - Resumen IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent AI - Resumen IA": {
      "main": [
        [
          {
            "node": "Resumen - Añadir IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen - Añadir IA": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent AI - Resumen IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "TelegramLeadsResumenV1",
  "meta": {},
  "id": "TelegramLeadsResumenSQLite",
  "tags": []
}